/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+velocity */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.76rem;
    text-align: left;
    white-space: pre; /* This allows wrapping */
    word-spacing: normal;
    word-break: break-all; /* Optional: ensures words break if necessary */
    word-wrap: break-word; /* Optional: ensures words wrap if necessary */
    line-height: 1.8;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1.28em;
	padding-right: 3.5em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f8f9fd;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	/*color: slategray;*/
	color: #4b5661;
}

.token.punctuation {
	color: black;
}

.token.namespace {
	color: #5500ff;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #005f2d;
}
.token.attr-name{
   color: black;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #005893;
}

.token.operator{
    color: black;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #006521;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #005893;
}

.token.function,
.token.class-name {
	color: #953246;
}

.token.regex,
.token.important,
.token.variable {
	color: #8d15a3;
}
.token.ftool {
    color: #aa0047;
}
.token.global {
    color: #aa0047;
}
}
.token.query {
    color: #aa0047;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* Ensure pre and code elements handle white-space properly for XML */
pre[class*="language-xml"],
code[class*="language-xml"] {
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
}
.xml-element {
    color: #005889;
    display: inline;
}
pre code.language-xml {
    display: inline;
    background: none;
    border: none;
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
}
pre.language-none{
    padding-right: 1em;
} 

code.language-none {
    display: inherit;
    background: none;
    border: none;
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
}
pre.language-none .btn-copy{
	/*display: none;*/
}

/* prevents // in http examples from being colored as a comment on REST API page */
code.language-json > span.token.comment {
	color: black
}