@import "https://www.hannonhill.com/cascadecms/latest/_files/_redesign/lib/bootstrap/bootstrap.min.css";

:root {
    --scroll-margin-top: 59px; /* Defines the default scroll margin top value. This variable
   is used for adjusting the scroll position of anchor-linked elements. The value
   can be dynamically updated via JavaScript based on page-specific conditions, 
   such as the header size. The initial default value is set to 59px. */
}
body {
    font-size: 85%;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #43739c;
}

a:hover {
    text-decoration: none;
}

code {
    color: #a70045;
}

td > code {
    word-break: normal;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #f8f8f8;
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    white-space: pre-wrap;
}

.jumbotron-homepage {
    padding-top: 38px;
    padding-bottom: 30px;
}

@media (max-width: 979px) {
    .jumbotron {
        padding-top: 0px;
    }

    pre code {
        max-height: none;
    }
}

.content-wrapper {
    padding-top: 60px;
}

.sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.bg-dark {
    background-color: #222630 !important;
}

.card-deck {
    margin-bottom: 30px;
}

.navbar {
    padding: 0px 15px 0px 15px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    padding: 0px;
}

.navbar-brand img {
    padding-block: 13px;
    max-width: 230px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.navbar-brand span {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px;
    text-align: middle;
}

.nav-item a {
    color: rgba(255, 255, 255, 0.8) !important;
    line-height: 30px;
    border-top: 3px solid #222630;
}

/*.nav-item a:hover{*/
/*    color: #BBDEFB !important;*/
/*    line-height: 30px;*/
/*    border-top: 3px solid #BBDEFB;*/
/*}*/

.breadcrumb {
    background-color: #f5f5f5;
}

.breadcrumb-item.active {
    color: #212529;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #212529;
}

ul.list-unstyled li {
    margin: 5px 0;
}

li.folder-item ul {
    padding-left: 1rem;
}

li.folder-item > a {
    font-weight: 550;
}

li.parent-folder > a {
    font-weight: 650;
    text-transform: uppercase;
}

ul.navHighlighter li {
    list-style-type: none;
    margin: 5px 0;
}
ul.navHighlighter li.active {
    margin: 5px 0;
}
ul.navHighlighter li.active > a {
    outline: 0;
    font-weight: bold;
}

.list-group-item.active {
    background-color: #e41961;
    border-color: #e41961;
}

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.text-info {
    color: #212529 !important;
}

.version {
    margin-bottom: 30px;
}

.version .card {
    padding: 15px;
}

.version-meta a {
    line-height: 30px;
    font-size: 250%;
    text-align: center;
    margin-top: 25px;
}

.version-meta a:hover {
    text-decoration: none;
}

.version-meta a small,
.version-meta a .icon-beaker {
    font-size: 45%;
}

.version-meta a small {
    display: block;
    color: #212529;
}

.version-meta.latest a {
    font-size: 250%;
    color: #212529;
    line-height: 30px;
}

.version-meta.latest a:hover {
    color: #212529;
}

.version-meta.latest a small {
    color: #212529;
}

.badge {
    font-weight: normal;
    font-size: 100%;
}

.badge-success {
    background-color: #218739;
}

.release-sidenav,
.release-stats {
    margin-bottom: 20px;
}

.icon-cloud-release {
    color: #495057;
    line-height: 1.2;
}

.list-group-item-action.active .icon-cloud-release {
    color: #fff;
}

.icon-anchor-link {
    font-size: 16px;
    vertical-align: middle;
}

.icon-chevron {
    line-height: 1.5;
}
.btn-coralpink {
    background: #e41961;
    color: #fff;
}
.btn-coralpink:hover,
.btn-coralpink:focus {
    background: #cc1556;
    color: #fff;
}

.btn-shark {
    background: #22252f;
    color: #fff;
}
.btn-shark:hover,
.btn-shark:focus {
    background: #111;
    color: #fff;
}

.btn-primary {
    background: #e41961;
    border-color: #e41961;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #cc1556;
    border-color: #cc1556;
    color: #fff;
}

/* Site Search 360 */
#searchBox {
    height: auto;
    /*width: 100%;*/
}

#unibox-suggest-box {
    right: 0px;
    left: -300px !important;
}

.ss360-content-container > a {
    display: none;
}

/* Clive 

.clive-legend {
font-size: 1em;
}
.clive-field textarea{
height: 5em !important;
}

.clive-radiobuttons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.clive-radiobuttons label {
    display: inline-block;
    color: #FFF;
    background-color: #EA3272;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clive-radiobuttons label:hover {
  background-color: #cc1556;
}

.clive-radiobuttons input[type="radio"]:focus + label {
    background-color: #cc1556;

}

.clive-radiobuttons input[type="radio"]:checked + label {
    background-color: #cc1556;
}

*/
.clive-field-wrapper {
    margin: 5pt 0px !important;
    width: 75%;
}
.clive-submit-wrapper {
    width: 75%;
}
.clive-submit {
    border: 1px solid transparent !important;
    border-radius: 0.25rem !important;
}
.clive-submit:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Begin Fix contrast issues within tips/notes/warnings for accessibility 
as part of #542 */

.text-secondary {
    color: #687278 !important;
}

.alert.alert-danger a {
    color: #721c24;
    text-decoration: underline;
}

.alert.alert-success a {
    color: #155724;
    text-decoration: underline;
}

.alert.alert-warning a {
    color: #856404;
    text-decoration: underline;
}

.alert.alert-danger code {
    color: #000;
}

.alert.alert-success code {
    color: #000;
}

.alert.alert-warning code {
    color: #000;
}

.alert.alert-danger strong {
    color: #000;
}

.alert.alert-success strong {
    color: #000;
}

.alert.alert-warning strong {
    color: #000;
}

.alert.alert-info strong {
    color: #000;
}

.wistia_bento_item_name {
    color: #000;
}

.alert.alert-warning a {
    color: #000;
    text-decoration: underline;
}

#mc_embed_signup .button {
    background-color: #000 !important;
}

/* .anchor-heading: Sets scroll margin for headings (h3, sections w/ h4). 
   Scroll margin controlled by --scroll-margin-top.
   See GitHub issue #667 for details. */
.anchor-heading {
    scroll-margin-top: var(--scroll-margin-top);
}

/* End Fix contrast issues within tips/notes/warnings for accessibility 
as part of #542 */

/* github code style override*/
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #006b6b !important;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #007aa3 !important;
}

.hljs-comment,
.hljs-quote {
    color: #717160 !important;
}
/* End github code style override */

/* Override bootstrap header styles */
.h1,
h1 {
    font-size: 2rem;
}
.h2,
h2 {
    font-size: 1.5rem;
}
.h3,
h3 {
    font-size: 1.15rem;
}
.h4,
h4 {
    font-size: 1rem;
}
.h5,
h5 {
    font-size: 0.8rem;
}
.h6,
h6 {
    font-size: 0.6rem;
}
/* End Override bootstrap header styles */
