.st-nav .st-nav-section.st-nav-mobile .st-root-link .icon-bar {
    background-color: #e41961 !important;
}

.fs-1 {
    font-size: 2.5rem !important;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
}

.navigation.fixed-top .nav-link a:hover {
        color: #B01F5A !important;
    }
}

.hh-events .events .event a:hover {
    color: #B01F5A !important;
    text-decoration: none;
}

.hh-events .events .event a:hover div.fs-3 {
    color: #869ab8 !important;
    text-decoration: none;
}

section.section {
    padding-block: 20px;
}

.mt-6n {
    margin-top: -5rem !important;
}

.row.gap-y &gt; .col, .row.gap-y &gt; [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-4, .py-4 {
    padding-top: 3rem !important;
}

.ms-auto {
    margin-left: auto !important;
}

.btn-outline {
    border-color: #B01F5A;
    color: #ffffff;
    font-size: 1rem !important;
}
    
.navigation .nav-link {
    color: #fff;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    font-size: 1rem !important;
    padding: .5rem;
}
    
.btn-rounded {
    border-radius: 10rem !important;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem !important;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.pl-5, .px-5 {
padding-left: 3rem !important;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
}

.pl-4, .px-4 {
padding-left: 2rem !important;
}

.pr-4, .px-4 {
    padding-right: 2rem !important;
}

.btn-primary {
    font-size: 1rem !important;
}

.navigation .nav-link {
    color: #fff;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    font-size: 1rem !important;
    padding: .5rem;
}

.btn-rounded {
    border-radius: 10rem;
}

.btn-dark {
    font-size: 1rem !important;
}

.btn-primary {
    font-size: 1rem !important;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem !important;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.pl-5, .px-5 {
padding-left: 3rem !important;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
}

.pl-4, .px-4 {
padding-left: 2rem !important;
}

.pr-4, .px-4 {
    padding-right: 2rem !important;
}

.mt-6n {
    margin-top: -5rem !important;
}

.row.gap-y > .col, .row.gap-y > [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-4, .py-4 {
    padding-top: 3rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.text-gradient-primary {
    background-image: linear-gradient(351deg, #0dcaf0 23%, #53f 87%, #775cff 102%) !important;
}

.text-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
    .fs-3 {
    font-size: 1.75rem !important;
}

.fw-bolder {
    font-weight: 900 !important;
}

.ms-lg-auto {
    margin-left: auto !important;
}

.accordion.accordion-clean .card-header {
    background-color: #fff;
}
.accordion .card-header {
    border-bottom: none;
    background-color: #f1f4f8;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    padding: 1rem 1rem;
    margin-bottom: 0;
    background-color: rgba(22, 28, 45, 0.03);
    border-bottom: 1px solid #f1f4f8;
}

.accordion.accordion-clean .card {
    border-bottom: 1px solid #d9e2ef;
}
.accordion:not(.accordion-collapsed) .card {
    border-bottom: 1px solid #d9e2ef !important;
}
.accordion .card {
    border: 1px solid #d9e2ef;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #f1f4f8;
    border-radius: 0.25rem;
}

.accordion {
    --dc-accordion-color: var(--dc-body-color);
    --dc-accordion-bg: var(--dc-body-bg);
    --dc-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --dc-accordion-border-color: var(--dc-border-color);
    --dc-accordion-border-width: var(--dc-border-width);
    --dc-accordion-border-radius: var(--dc-border-radius);
    --dc-accordion-inner-border-radius: calc(var(--dc-border-radius) - var(--dc-border-width));
    --dc-accordion-btn-padding-x: 1.25rem;
    --dc-accordion-btn-padding-y: 1rem;
    --dc-accordion-btn-color: var(--dc-body-color);
    --dc-accordion-btn-bg: var(--dc-accordion-bg);
    --dc-accordion-btn-icon: url(data:image/svg+xml;charset=utf-8,%3Csvg
	xmlns='http://www.w3.org/2000/svg' fill='%23506690' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E);
    --dc-accordion-btn-icon-width: 1.25rem;
    --dc-accordion-btn-icon-transform: rotate(-180deg);
    --dc-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --dc-accordion-btn-active-icon: url(data:image/svg+xml;charset=utf-8,%3Csvg
	xmlns='http://www.w3.org/2000/svg' fill='%23221466' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E);
    --dc-accordion-btn-focus-border-color: #a9f;
    --dc-accordion-btn-focus-box-shadow: none;
    --dc-accordion-body-padding-x: 1.25rem;
    --dc-accordion-body-padding-y: 1rem;
    --dc-accordion-active-color: var(--dc-primary-text-emphasis);
    --dc-accordion-active-bg: var(--dc-body-bg);
}

.accordion-item:first-of-type {
    border-top-left-radius: var(--dc-accordion-border-radius);
    border-top-right-radius: var(--dc-accordion-border-radius);
}
.accordion-item {
    background-color: var(--dc-accordion-bg);
    border: var(--dc-accordion-border-width) solid var(--dc-accordion-border-color);
    color: var(--dc-accordion-color);
}

.me-2 {
    margin-right: 0.5rem !important;
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.nav-tabs.tabs-clean .nav-link.active {
    color: #B01F5A !important;
}
.nav-tabs.tabs-clean .nav-link.active {
    border-bottom-color: rgb(228, 25, 97) !important;
}
.nav-tabs.tabs-clean .nav-link.active {
    border-bottom-color: #5533ff;
}
.nav-tabs.tabs-clean .nav-link {
    color: #000 !important;
}
.nav-tabs.nav-tabs-black.nav-outlined .nav-link:last-child {
  border-right-color: #161c2d;
}

.ms-md-auto {
    margin-left: auto !important;
}

.font-sm {
    font-size: 0.875rem !important;
}

@media (max-width: 576px){
    .text-center-sm {
        text-align: center !important;
    }
    
    .mb {
        display: none !important;
    }
    
    .mb-4-sm {
        margin-bottom: 1.5rem !important;
    }
    
    .ml-auto-sm, .mx-auto-sm {
        margin-left: auto !important;
    }
    
    .mr-auto-sm, .mx-auto-sm {
        margin-right: auto !important;
    }
    .m-display-none {
        display:none;
    }
}
.heading-line:after {
    content: "";
    display: block;
    margin-top: 32px;
    margin-bottom: 24px;
    width: 40px;
    height: 2px;
    background-color: #B01F5A !important;
}

.breadcrumb-item a {
    color: #fff !important;
    text-decoration: none;
    background-color: transparent;
}

.crumb-active {
    color: #fff !important;
}

/* Overlay */
.search-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.search-overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.search-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.search-overlay .closebtn:hover {
  color: #ccc;
}

.search-overlay input[type=search] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  border-radius: 25px 0 0 25px;
}

.search-overlay input[type=search]:hover {
  background: #f1f1f1;
}

.search-overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #B01F5A;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white !important;
  border-radius: 0 25px 25px 0;
}

.search_autocomplete {
    background: white;
    border-radius: 25px 25px 0 0 ;
}

.search-results-item p b strong {
    color: #B01F5A;
}

.search-page input[type=search] {
    padding: 15px;
    font-size: 17px;
    border: 1px solid #efefef;
    float: left;
    width: 80%;
    border-radius: 25px 0 0 25px;
}

.search-page button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #B01F5A;
    font-size: 17px;
    border: 1px solid #B01F5A;
    cursor: pointer;
    color: white !important;
    border-radius: 0 25px 25px 0;
}

.search-results-data p {
    color: #000 !important;
}

.search-results-item a, .search-results-item a:hover {
    color: #000 !important;
    text-decoration: none !important;
}

.search-results-data .path {
    color: #B01F5A !important;
    text-decoration: none !important;
}


.blog-search-input {
    border-radius: 25px 0 0 25px;
    border: 1px solid #efefef;
    padding: 15px;
    width: 75%;
    float: left;
}
input.blog-search-input:hover {
    border: 1px solid #efefef !important;
}

.blog-search-btn {
    padding: 15px;
    border-radius: 0 25px 25px 0;
    border: 1px solid #B01F5A;
    background-color: #B01F5A;
    color: white;
}

#inline-forms input:focus, input:hover, .clive-field select:focus, .clive-submit:focus {
    border: 0px !important;
}

.breadcrumb > .breadcrumb-item a {
    color: black !important;
}

.breadcrumb > .crumb-active {
    color: #B01F5A !important;
}
.hide-desktop {
    display: none;
}

.show-mobile {
    display: none;
}

@media screen and (max-width: 480px) { 
  .show-mobile { 
    display: block; 
  } 
  .hide-mobile {
      display: none;
  }
}

@media (min-width:801px)  {
    .ml-desktop {
        margin-left: 3rem !important;
    }
}

.navigation {
        background-color: white !important;
        padding: 0;
    }

@media (min-width: 768px) {
    .navigation {
        background-color: transparent !important;
        padding: 0;
    }
}
